:root{
  --subtext-colour: #7b7b7b;
  --newsfeed-margin: 0.5rem;
  --subtext-margin: 1.3rem;
  --newsfeed-margin-top: 0rem;
  --border-radius: 4px
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #000000;
  color: #dfdfdf;
}

/* Start Navigation */
.navigation {
  display: flex;
  justify-content: space-around;  
  background-color: #ff0000;
  line-height: 5px;
}

.nav-header {
  display: flex;
}

.nav-title {
  display: flex;
  align-self: center;
  margin-left: 0.3rem;
}

.nav-image {
  display: flex;
  align-self: center;
  border: 1px solid white;
  border-radius: var(--border-radius);
  margin-left: 0.3rem;
  width: 10px;
  height: 10px;
}

nav.topnav {
  display: flex;
  margin-left: 1rem;
}

.topnav p {
  margin-right: 0.4rem;
}

input {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #000000;
  color: white;
  border: 1px solid red;
  border-radius: 8px;
}

/* End Navigation */

/* Start Newsfeed */

.App.news-wrapper {
  padding: 0rem 4rem 1rem 4rem;
  font-size: 6pt;
}

.news-title {
  display: flex;
}

p.index {
  color: var(--subtext-colour);
  margin-left: var(--newsfeed-margin);
  margin-right: var(--newsfeed-margin);
}

p.title {
  margin-right: var(--newsfeed-margin);
  text-decoration: none;
}

.title-link {
  color: inherit;
  text-decoration: none;
}

p.url {
  color: var(--subtext-colour);
}

.news-subtext {
  display: flex;
  margin-top: var(--newsfeed-margin-top);
  margin-left: var(--subtext-margin);
}

p.rank {
  margin-top: var(--newsfeed-margin-top);;
  color: var(--subtext-colour);
  margin-right: 3px;
}

p.author {
  color: var(--subtext-colour);
  margin-top: var(--newsfeed-margin-top);;
  margin-right: var(--newsfeed-margin);
}

p.date {
  color: var(--subtext-colour);
  margin-top: var(--newsfeed-margin-top);;
  margin-right: var(--newsfeed-margin);
}

p.comment {
  color: var(--subtext-colour);
  margin-top: var(--newsfeed-margin-top);;
}
/* End Newsfeed */

/* Start Pagination */
.pagination {
  margin: var(--subtext-margin);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
}

.pagination-button {
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
/* End Pagination */

/* Start Footer */
.footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #ff0000;
  margin: 0px;
}

.footer-list-start  {
  margin: 0px;
}

ul.footer-list {
  padding-inline: 0px;

}

.footer-list a{
 margin-left: 10px;
 color: inherit;
 text-decoration: none;
 padding-inline: 0px;
}
/* End Footer */

/* Start Error Page */
.vader-error {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* End Error Page */

/* Start Loader */
.vader-loader {
  display: flex;
  justify-content: center;
}
/* End Loader */

/* Start NoResults */
.vader-no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vader-no-results h1 {
  display: flex;
  justify-content: center;
}
/* End NoResults */